body {
    text-align: center;
    background-color: #28826A;
    background: linear-gradient(to bottom right, #56BB8F, #01524B);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Raleway', 'Century Gothic', sans-serif;
    font-weight: 100 !important;
  }
  
  .container {
    max-width: 550px;
    height: 100%;
    margin-top: 4%;
  }
  
  .board-box {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    
  }
  
  .board {
    margin-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  .header h1 {
    color: #f5f5f500;
    font-size: 42px;
    font-weight: 200;
  }
  
  #whoseTurn {
    margin-top: 50px;
    font-weight: 400;
    font-size: 16px;
    height: 20px;
  }
  
  .vsComp-btn,
  .ok-btn {
    color: #FFFFFF;
    background-color: #31827B;
    height: 50px;
  }
  
  .vsComp-btn:hover,
  .ok-btn:hover {
    color: #FFFFFF;
    background-color: #01524B;
  }
  
  .x {
    color: #76CAD4;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .o {
    color: #56BB8F;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .btn-x {
    color: #FFFFFF;
    background-color: #76CAD4;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }  
  .btn-x:hover {
    background-color: #55B0BA;
    color: #FFFFFF;
  }
  
  .btn-o {
    color: #FFFFFF;
    background-color: #56BB8F;
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }
  
  .btn-o:hover {
    background-color: #43A877;
    color: #FFFFFF;
  }
  
  h1 span {
    border: 1px solid #7d7d94;
    height: 120px;
    width: 120px;
    display: inline-block;
    padding-top: 30%;
    font-size: 40px;
    font-weight: 200;
  }
  svg {
    font-family: 'Russo One', sans-serif;
    position: absolute; 
    width: 100%; height: 100%;
    display: grid;
    bottom:  300px;
    left: 0px;
    
  }
  svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #e100ff;
    font-size: 100px;
  
  }
  @keyframes stroke {
    0%   {
      fill: rgba(72,138,20,0); stroke: rgb(255, 0, 221);
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  {fill: rgba(72,138,20,0); stroke: rgb(255, 0, 255); }
    80%  {fill: rgba(72,138,20,0); stroke: rgb(255, 0, 234); stroke-width: 3; }
    100% {
      fill: rgb(255, 0, 0); stroke: rgba(54,95,160,0); 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
    }
  }
  .btnop{
    background-color: #23D5AB;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    padding: .7em 2em;
    text-align: center;
    
    text-decoration: none;
  
    width: 120px;
     position: absolute;
     left: 120px;
     top: 550px;
     font-family: Days One;
  }
  .btn--gradient {
    animation: gradient 4s ease infinite;
    background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
      background-size: 1000% 400%;
  }
  
  .square {
    height: 120px;
    width: 120px;
    display: inline-block;
    margin: -3px;
    
   
    
  }
  
  .modal {
    font-weight: 400;
    color: #01524B;
    height: 100%;
    overflow-y: auto !important;
    
  }
  
  .modal-open {
    overflow: auto !important;
    overflow-x: hidden !important;
    padding-right: 0 !important;
  }
  
  .modal-content {
    border-radius: 0px !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin-top: 24%;
  }
  
  button {
    border-radius: 0px !important;
  }
  
  .no-click {
    pointer-events: none;
  }
  
  .center-btn {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  
  #box0 span,
  #box1 span,
  #box3 span,
  #box4 span {
    border-top: 0;
    border-left: 0;
    
  }
  
  #box2 span,
  #box5 span {
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }
  
  #box6 span,
  #box7 span {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }
  
  #box8 span {
    border: 0;
  }
  
  @media screen and (max-width: 374px) {
    .container {
      zoom: 0.85;
      -moz-transform: scale(0.85);
    }
  }
  @keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
